*{
    margin: 0;
}
.main{
    padding: 20px;
}
.mainconteiner{
    padding: 20px 40px;
    width: 450px;
    box-shadow: 1px 1px 10px black;

}
.conteiner1{
    position: relative;
    width: 500px;
}
.conteiner1 h1{
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    font-size: 25px;
    background-color: aqua;
    border-radius: 10px;
    padding: 4px 4px;
    color: white;
}
.conteiner2 p{
    padding: 8px 0px;
}
.conteiner1 img{
    width: 450px;
    height: 450px;
}
.conteiner2{
    font-size: 20px;
    border-bottom: 1px solid gray;
    width: 450px;
    padding: 20px 5px;
}
.num{
    width: 450px;
    background-color: lightgray;
    border-radius: 10px;
}
.num h4{
    text-align: center;
    background-color: green;
    width: 90%;
    border-radius: 10px;
}
.con1 h4{
    width: 80%;
}
.con2 h4{
    width: 70%;
}
.con3 h4{
    width: 50%;
}
.conteiner2, .con1, .con2, .con3{
    padding: 10px 0px;
}
.conn1 p{
    padding: 5px 0px;
}
.conn1{
    width: 450px;
    padding: 20px 5px;
}
